{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'account_change_password' %}" class="password_change login-form main-div-shadow mt-3">
    <h2 class="text-center ">{% trans "Change Password" %}</h2>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="non-field-error text-center">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="form-group mb-3">
        {{ form.oldpassword.label_tag }}
        <div class="input-group">
            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
            {{ form.oldpassword }}
        </div>
        {% if form.oldpassword.errors %}
        <div class="field-error">{{ form.oldpassword.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group mb-3">
        {{ form.password1.label_tag }}
        <div class="input-group">
            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
            {{ form.password1 }}
        </div>
        {% if form.password1.errors %}
        <div class="field-error">{{ form.password1.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group mb-3">
        {{ form.password2.label_tag }}
        <div class="input-group">
            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
            {{ form.password2 }}
        </div>
        {% if form.password2.errors %}
        <div class="field-error">{{ form.password2.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" name="action" class="custom-btn-1">{% trans "Change Password" %}</button>
</form>
{% endblock %}
