{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans
"Signup" %}{% endblock %} {% block content %}

<form
  class="signup signup-form main-div-shadow"
  id="signup_form"
  method="post"
  action="{% url 'pet-owner-signup' %}"
>
  {% csrf_token %}

  <div class="sign-up-choice">
    <a href="{% url 'pet-owner-signup' %}" class="sign-up-choice-active left-border btn">
      I am a Pet Owner.
    </a>
    <a href="{% url 'minder-signup' %}" class="sign-up-choice-non-active right-border btn">
      I am a Minder.
    </a>
  </div>

  <h1 hidden>Pet Owner Sign-up</h1>
  <p>
    {% blocktrans %}Already have an account? Then please
    <a href="{{ login_url }}">log-in</a>.{% endblocktrans %}
  </p>

  {{ form.non_field_errors }}

  <div class="row">
    <div class="col-12 col-md-6 form-user-details">
      <!-- Username field -->
      <div class="form-field form-group">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.username }}
        </div>
        {% if form.username.errors %}
        <div class="field-error">{{ form.username.errors }}</div>
        {% endif %}
      </div>

      <!-- Email field -->
      <div class="form-field form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-at fa-fw" aria-hidden="true"></i>
          {{ form.email }}
        </div>
        {% if form.email.errors %}
        <div class="field-error">{{ form.email.errors }}</div>
        {% endif %}
      </div>

      <!-- Password field -->
      <div class="form-field form-group">
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-key fa-fw" aria-hidden="true"></i>
          {{ form.password1 }}
        </div>
        {% if form.password1.errors %}
        <div class="field-error">{{ form.password1.errors }}</div>
        {% endif %}
      </div>

      <!-- Password Confirmation field -->
      <div class="form-field form-group">
        <label for="{{ form.password2.id_for_label }}"
          >Password Confirmation:</label
        >
        <br />
        <div class="input-group">
          <i class="fa fa-key fa-fw" aria-hidden="true"></i>
          {{ form.password2 }}
        </div>
        {% if form.password2.errors %}
        <div class="field-error">{{ form.password2.errors }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6 form-user-details">
      <!-- Name field -->
      <div class="form-field form-group">
        <label for="{{ form.name.id_for_label }}">Your name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-signature fa-fw" aria-hidden="true"></i>
          {{ form.name }}
        </div>
        {% if form.name.errors %}
        <div class="field-error">{{ form.name.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Name field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_name.id_for_label }}">Pet Name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-paw fa-fw" aria-hidden="true"></i>
          {{ form.pet_name }}
        </div>
        {% if form.pet_name.errors %}
        <div class="field-error">{{ form.pet_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Species field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_species.id_for_label }}">Pet Species:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-dog fa-fw" aria-hidden="true"></i>
          {{ form.pet_species }}
        </div>
        {% if form.pet_species.errors %}
        <div class="field-error">{{ form.pet_species.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Role field -->
      <input type="hidden" name="{{ form.role.name }}" value="pet-owner" />

    </div>
  </div>

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <div class="col text-center">
    <button type="submit" class="custom-btn-1 mt-4">{% trans "Register" %} &raquo;</button>
  </div>
</form>

{% endblock %}
