.navbar {
    box-shadow: 0 8px 20px 6px black !important;
}

.btn-nav {
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
    background-color: #0d444e !important;
    color: #DBDEEB !important; 
    border: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

.btn-nav.active {
    color: #FC7536 !important;
    transition: background-color 0.2s ease;

}

body {
    background-color: #419ca5 !important;
    height: 1000px !important;
}

.page-header {
    background-color: #0D444E;
    color: #DBDEEB;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header h1, 
.page-header p {
    text-align: center;

}
