/* Imports dancing script Google Font */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* ------------------------------------- Body */
body {
    background-color: #0D444E !important;
}

/* ------------------------------------- Navbar */
.navbar {
    box-shadow: 0 8px 20px 6px black !important;
}

.btn-nav {
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
    background-color: #0d444e !important;
    color: #DBDEEB !important;
    border: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

.btn-nav.active {
    color: #ff8952 !important;
    transition: background-color 0.2s ease;

}

/* ------------------------------------- Page Header */
.page-header {
    background-color: #0D444E;
    color: #DBDEEB;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header h1,
.page-header p {
    text-align: center;
}

.page-header h1 {
    font-family: 'Handlee', cursive;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 20px !important;
}

.page-header p {
    font-size: 0.8em;
}

.hero-image {
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1690210863/hero-opacity_fdfn9e.webp");
    width: 100%;
    height: 20vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}

/* ------------------------------------- Main */
main {
    min-height: 70vh;
    display: flex;
}

/* ------------------------------------- Sign-up Div */
.sign-up-div {
    text-align: center;
    background-color: #DBDEEB;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;

    /* Adds space between cols by removing the bor*/
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip: padding-box;
}

.list-group-item {
    background-color: #DBDEEB !important;
    border: 0 !important;
}

.sign-up-btn {
    background-color: #ff8952 !important;
}

/* ------------------------------------- Sign-up Form */

.signup-form {
    color: #0D444E;
    background-color: #DBDEEB;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 50px auto;

    -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);

}

.signup-form h1,
.signup-form p {
    text-align: center;
}

.form-group {
    margin: 0 auto;
}

.field-error {
    border-radius: 0 0 25px 25px;
    background-color: #ff8952;
}

.errorlist {
    margin-bottom: 0 !important;
    box-shadow: #0D444E;
    margin: 0;
    padding: 0 15px;
}

.errorlist li {
    list-style: none;
}

label {
    font-weight: bold;
    font-size: 0.9em;
}

.input-group {
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.input-icon-div {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group i {
    color: #0D444E;
    margin: 0 8px;
}

.input-group input {
    border: none;
    border-radius: 0 5px 5px 0;
    flex-grow: 8;
    min-width: 100px;
}

.sign-up-choice {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.sign-up-choice a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none !important;
}

.sign-up-choice-non-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sign-up-choice-active {
    background-color: #0D444E;
    color: #ff8952;
}

.right-border {
    border-radius: 0 50px 50px 0;
}

.left-border {
    border-radius: 50px 0 0 50px;
}

/* ------------------------------------- Login Page */

.login-form {
    color: #0D444E;
    background-color: #DBDEEB;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    height: 100%;
    padding: 20px;
    margin: 50px auto;

    -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
}

.non-field-error {
    border-radius: 25px;
    background-color: #ff8952;
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

.login-btn {
    background-color: #ff8952 !important;
    color: #0D444E;
}

/* ------------------------------------- Logout Modal */

.modal-content {
    background-color: #0D444E;
    color: #DBDEEB;
    border: none;
}

.modal-footer .btn-primary {
    background-color: #ff8952;
    border-color: #ff8952;
    color: #0D444E;
}

/* ------------------------------------- Search for Minders page */

.browse-minders-div {
    color: #0D444E;
    background-color: #DBDEEB;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 220px;
    max-width: 800px;
    height: 100%;
    padding: 20px;
    margin: 50px auto;

    -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
}

.minder-search-div {
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.35);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.minders-list {
    display: flex;
    flex-direction: column;
}


.minder-item.even {
    background-color: #a6acc7 !important;
}

.minder-item.odd {
    background-color: #DBDEEB !important;
}

.minder-photo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.minder-photo {
    margin: 10px 0;
}

.minder-photo-name-div,
.minder-bio-availability-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    word-wrap: break-word;
    text-align: center;
}

.minder-bio,
.minder-availability {
    width: 90%;
    padding: 5px;
}

.minder-bio p,
.minder-availability p {
    padding: 0;
    margin: 0;
}

.minder-bio p:first-child,
.minder-availability p:first-child {
    font-weight: bold;
}

.minder-availability {
    margin-bottom: 10px;
}

.minder-name {
    font-weight: bold;
}

.search-icon-span {
    width: 50px;
    text-align: center;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  
.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
  }

/* ------------------------------------- Footer */
footer {
    background-color: #0D444E;
    color: #DBDEEB;
    height: 50px;
    width: 100%;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-align: center;
    /* Margin bottom to display footer above mobile navbar */
    margin-bottom: 65px !important;
}

/* -------------------- Screens above 425px width - Mobile */
@media screen and (min-width: 425px) {}

/* -------------------- Screens above 768px width - Tablets */
@media screen and (min-width: 768px) {

    .sign-up-choice {
        width: 70%;
    }

}

/* -------------------- Screens above 1024px width - Desktop */
@media screen and (min-width: 1024px) {

    .navbar {
        width: 15%;
        height: 100%;
        position: fixed !important;
        background-color: #0D444E;
    }

    .desktop-only-navbar {
        flex-direction: column !important;
        width: 80%;
        height: 100vh !important;
        padding-top: 10px;
    }

    .btn-nav {
        flex-direction: row !important;
        align-items: center !important;
        width: 90% !important;
        flex-grow: 0 !important;
    }

    .navbar i {
        margin-right: 5px;
    }

    .desktop-only-navbar .btn-nav:nth-child(1) {
        margin: 0 !important;
    }

    .desktop-only-navbar .btn-nav:nth-child(4) {
        margin-top: auto !important;
        padding-left: 10px;
    }

    .page-header,
    main {
        padding-left: 15%;
    }

    .hero-image {
        width: 100%;
        height: 23vh;
    }

    .sign-up-choice {
        width: 50%;
    }


    footer {
        margin-bottom: 10px !important;
        padding-left: 15%;
    }
}

/* -------------------- Screens above 1440px width - Desktop */
@media screen and (min-width: 1440px) {
    .navbar {
        width: 10%;
    }

    .page-header,
    main {
        padding-left: 10%;
    }

    .signup-form {
        width: 60% !important;
        padding: 20px 30px !important;
    }

    .sign-up-choice {
        width: 60%;
    }

    footer {
        padding-left: 10%;
    }
}