/* Imports dancing script Google Font */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* ------------------------------------- Body */
body {
    background-color: #0D444E !important;
}

/* ------------------------------------- Navbar */
.navbar {
    box-shadow: 0 8px 20px 6px black !important;
}

.btn-nav {
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
    background-color: #0d444e !important;
    color: #DBDEEB !important; 
    border: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

.btn-nav.active {
    color: #ff8952 !important;
    transition: background-color 0.2s ease;

}

/* ------------------------------------- Page Header */
.page-header {
    background-color: #0D444E;
    color: #DBDEEB;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header h1, 
.page-header p {
    text-align: center;
}

.page-header h1 {
    font-family: 'Handlee', cursive;    
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 20px !important;
}

.page-header p {
    font-size: 0.8em;
}

.hero-image {
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1690210863/hero-opacity_fdfn9e.webp");
    width: 100%;
    height: 20vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}

/* ------------------------------------- Main */
main {
    min-height: 70vh;
}

/* ------------------------------------- Sign-up Div */
.sign-up-div {
    text-align: center;
    padding: 10px;
    background-color: #DBDEEB;
    border:  1px #000;
    border-radius: 20px;
    padding: 20px;
    /* Adds space between cols by removing the bor*/
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip: padding-box;
}

.list-group-item {
    background-color: #DBDEEB !important;
    border: 0 !important;
}

.sign-up-btn {
    background-color: #ff8952 !important;
}

/* ------------------------------------- Footer */
footer {
    background-color: #0D444E;
    color: #DBDEEB;
    height: 50px;
    width: 100%;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-align: center;
    /* Minimum margin bottom to display footer above mobile navbar */
    margin-bottom: 65px !important;
}
