{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row mx-2">
    <div class="col-12 col-md-6 sign-up-div">
        <h2>About Minding Paws</h2>
        <div class="scrollable-content d-flex flex-column align-items-center justify-content-start">
          <p>Welcome to Minding Paws, your trusted platform connecting pet owners with dedicated pet minders. Our mission is to make the pet sitting experience as seamless as possible, providing a secure and efficient way for pet owners to find reliable minders and minders to showcase their expertise.</p>
          <p>At Minding Paws, we understand the unique bond between pets and their owners. Our platform is designed to match pet owners with the perfect minder who will provide the same love and care as you do. Whether you're going on vacation, a business trip, or simply need a helping hand, our community of experienced minders is here to ensure your pets are well taken care of.</p>
        </div>
      </div>
      
      <div class="col-12 col-md-6 sign-up-div">
        <h2>Terms and Conditions</h2>
        <div class="scrollable-content d-flex flex-column align-items-center justify-content-start">
          <p>This website is operated by luciotorelli. Throughout the site, the terms “we”, “us” and “our” refer to luciotorelli. luciotorelli offers this website, including all information, tools and Services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>
          <p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
        </div>
      </div>
</div>
{% endblock %}
