{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minding Paws</title>
    <!-- Load Bootstrap: 5, CSS and JavaScript from Bootstrap CDN. -->
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    <!-- Load stylesheet CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Load fontawesome css-->
    <script
      src="https://kit.fontawesome.com/ab2b00d870.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav class="navbar fixed-bottom px-0 py-0">
        <div class="container-fluid d-flex px-0 desktop-only-navbar">
          {% if user.is_authenticated %}
          <!-- Navbar Item 1 Logged In -->
          <a
            class="nav-item nav-link active btn flex-grow-1 rounded-0 btn-nav"
            href="#"
          >
            <i class="fa fa-calendar-check fa-fw"></i>Bookings
          </a>
          <!-- Navbar Item 2 Logged In -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="#"
          >
            <i class="fa fa-user fa-fw"></i>My Profile
          </a>
          <!-- Navbar Item 3 Logged In -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="#"
          >
            <i class="fa fa-solid fa-paw fa-fw"></i>About us
          </a>
          <!-- Navbar Item 4 Logged In -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#logoutModal"
          >
            <i class="fa fa-arrow-right-from-bracket fa-fw"></i>{% trans
            'Logout' %}
          </a>
          {% else %}
          <!-- Navbar Item 1 Logged Out -->
          <a
            class="nav-item nav-link active btn flex-grow-1 rounded-0 btn-nav"
            href="#"
          >
            <i class="fa fa-home fa-fw"></i>Home
          </a>
          <!-- Navbar Item 2 Logged Out -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="{% url 'pet-owner-sign-up' %}"
          >
            <i class="fa fa-user-plus fa-fw"></i>Sign-up
          </a>
          <!-- Navbar Item 3 Logged Out -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="#"
          >
            <i class="fa fa-solid fa-paw fa-fw"></i>About us
          </a>
          <!-- Navbar Item 4 Logged Out (Sign In) -->
          <a
            class="nav-item nav-link btn flex-grow-1 rounded-0 btn-nav"
            href="{% url 'account_login' %}"
          >
            <i class="fa fa-sign-in-alt fa-fw"></i>{% trans 'Sign In' %}
          </a>
          {% endif %}
        </div>
      </nav>

      <section class="page-header">
        <h1>Minding Paws</h1>
        <p>Connecting Pet Owners and Pet Minders.</p>
        <div class="hero-image"></div>
      </section>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"
          >Copyright &copy; 2023
          <a href="https://github.com/luciotorelli/minding-paws"
            >Project Portfolio 4 - Github Lúcio Torelli</a
          ></span
        >
      </div> 

    <!-- Bootstrap Modal for login out -->
    <div class="modal fade" tabindex="-1" role="dialog" id="logoutModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h5 class="modal-title">{% trans "Sign Out" %}</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="{% trans 'Close' %}"
            ></button>
          </div>
          <div class="modal-body">
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
          </div>
          <div class="modal-footer border-0">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %} {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
              <button type="submit" class="btn btn-primary">
                {% trans 'Sign Out' %}
              </button>
            </form>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {% trans 'Cancel' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
