<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minding Paws</title>

    <!-- Load Bootstrap: 5, CSS and JavaScript from Bootstrap CDN. -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>