{% extends 'base.html' %} {% block content %}
<div class="container bookings-container">
    <!-- Grid container -->
    <div class="grid-container">
      <!-- Div 1 Pending Bookings Accordion -->
      <div class="bookings-div main-div-shadow">
        <h3 class="text-center">Pending Bookings</h3>
          <div id="pendingBookingsAccordion" class="accordion">
            {% for booking in pending_bookings %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="pendingBooking{{ booking.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pendingBookingCollapse{{ booking.id }}" aria-expanded="false" aria-controls="pendingBookingCollapse{{ booking.id }}">
                    {{ forloop.counter }} - 
                    {% if user.is_authenticated %}
                        {% if user.role == 'pet-owner' %}
                            {{ booking.minder_name }}
                        {% elif user.role == 'minder' %}
                            {{ booking.pet_owner_name }}
                        {% endif %}
                    {% endif %}
                    on {{ booking.start_date|date:"M. j" }}
                </button>
              </h2>
              <div id="pendingBookingCollapse{{ booking.id }}" class="accordion-collapse collapse" aria-labelledby="pendingBooking{{ booking.id }}" data-bs-parent="#pendingBookingsAccordion">
                <div class="accordion-body">
                    {% include 'booking_accordion_details.html' %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <!-- Div 2 Accepted Bookings -->
      <div class="bookings-div main-div-shadow">
        <h3 class="text-center">Accepted Bookings</h3>
        <div>
          {% for booking in accepted_bookings %}
          <p>Booking ID: {{ booking.id }}</p>
          <p>Service Description: {{ booking.service_description }}</p>
          <p>Pet Name: {{ booking.pet_name }}</p>
          <p>Pet Species: {{ booking.pet_species }}</p>
          <!-- Add more details about the booking as needed -->
          {% endfor %}
        </div>
      </div>
      <!-- Div 3 Cancelled Bookings -->
      <div class="bookings-div main-div-shadow">
        <h3 class="text-center">Cancelled Bookings</h3>
        <div>
          {% for booking in cancelled_bookings %}
          <p>Booking ID: {{ booking.id }}</p>
          <p>Service Description: {{ booking.service_description }}</p>
          <p>Pet Name: {{ booking.pet_name }}</p>
          <p>Pet Species: {{ booking.pet_species }}</p>
          <!-- Add more details about the booking as needed -->
          {% endfor %}
        </div>
      </div>
      <!-- Div 4 Completed Bookings -->
      <div class="bookings-div main-div-shadow">
        <h3 class="text-center">Completed Bookings</h3>
        <div>
          {% for booking in completed_bookings %}
          <p>Booking ID: {{ booking.id }}</p>
          <p>Service Description: {{ booking.service_description }}</p>
          <p>Pet Name: {{ booking.pet_name }}</p>
          <p>Pet Species: {{ booking.pet_species }}</p>
          <!-- Add more details about the booking as needed -->
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
