{% load static %}
<body>
  <div class="booking-details">
    <div class="date-time-container">
      <div class="pill-div">
        <p>{{ booking.start_date|date:"d/m/Y" }}</p>
      </div>
      <div class="pill-div">
        <p>{{ booking.end_date|date:"d/m/Y" }}</p>
      </div>
    </div>
    <div class="date-time-container">
      <div class="pill-div">
        <p>{{ booking.start_date|date:"H:i A" }}</p>
      </div>
      <div class="pill-div">
        <p>{{ booking.end_date|date:"H:i A" }}</p>
      </div>
    </div>
    <div class="pet-info-div">
      <p class="pet-info">
        <i class="fa fa-paw"></i>Pet Name: {{ booking.pet_name }}
      </p>
      <p class="pet-info">
        <i class="fa fa-dog"></i>Pet Species: {{ booking.pet_species }}
      </p>
      <p>
        <strong>Service Description:</strong> 
        <br/>
        {{ booking.service_description }}
      </p>

      <!-- Display the booking buttons based on user role, user authentication and booking status -->
      {% if user.is_authenticated and user.role == 'minder' and booking.status == 'pending' %}
      <div class="booking-details-btns">
          <button class="btn approve-btn" type="button" data-bs-toggle="modal" data-bs-target="#approveModal{{ booking.id }}">Approve</button>
          <button class="btn cancel-btn" type="button" data-bs-toggle="modal" data-bs-target="#cancelModal{{ booking.id }}">Cancel</button>
      </div>
      {% elif user.is_authenticated and user.role == 'pet-owner' and booking.status == 'pending' or booking.status == 'accepted' %}
          <div class="booking-details-btns">
              <button class="btn cancel-btn" type="button" data-bs-toggle="modal" data-bs-target="#cancelModal{{ booking.id }}">Cancel</button>
          </div>
      {% endif %}
   </div>
  </div>

<!-- Approve Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="approveModal{{ booking.id }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title">Confirm Approval</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to approve this booking?</p>
      </div>
      <div class="modal-footer border-0">
        <form method="post" action="{% url 'update-booking-status' %}">
          {% csrf_token %}
          <input type="hidden" name="booking_id" value="{{ booking.id }}">
          <input type="hidden" name="status" value="accepted">
          <button type="submit" class="btn btn-primary">Yes, approve</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="cancelModal{{ booking.id }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title">Confirm Cancellation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this booking?</p>
      </div>
      <div class="modal-footer border-0">
        <form method="post" action="{% url 'update-booking-status' %}">
          {% csrf_token %}
          <input type="hidden" name="booking_id" value="{{ booking.id }}">
          <input type="hidden" name="status" value="cancelled">
          <button type="submit" class="btn btn-primary">Yes, cancel</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
      </div>
    </div>
  </div>
</div>

</body>
