{% load static %}
<body>
  <div class="booking-details">
    <div class="date-time-container">
      <div class="pill-div">
        <p>{{ booking.start_date|date:"d/m/Y" }}</p>
      </div>
      <div class="pill-div">
        <p>{{ booking.end_date|date:"d/m/Y" }}</p>
      </div>
    </div>
    <div class="date-time-container">
      <div class="pill-div">
        <p>{{ booking.start_date|date:"H:i A" }}</p>
      </div>
      <div class="pill-div">
        <p>{{ booking.end_date|date:"H:i A" }}</p>
      </div>
    </div>
    <div class="pet-info-div">
      <p class="pet-info">
        <i class="fa fa-paw"></i>Pet Name: {{ booking.pet_name }}
      </p>
      <p class="pet-info">
        <i class="fa fa-dog"></i>Pet Species: {{ booking.pet_species }}
      </p>
      <p>
        <strong>Service Description:</strong> 
        <br/>
        {{ booking.service_description }}
      </p>

      <!-- Display the booking buttons based on user role, user authentication and booking status -->>
      {% if user.is_authenticated and user.role == 'minder' and booking.status == 'pending' %}
        <div class="booking-details-btns">
          <button class="btn approve-btn">Approve</button>
          <button class="btn cancel-btn">Cancel</button>
        </div>
      {% elif (user.is_authenticated and user.role == 'pet-owner') or (user.is_authenticated and booking.status == 'active') %}
        <div class="booking-details-btns">
          <button class="btn cancel-btn">Cancel</button>
        </div>
      {% endif %}

    </div>
  </div>
</body>
