{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container browse-minders-div main-div-shadow">
    <h3 class="text-center">Minders</h3>

    <div class="row justify-content-center">
      <!-- Icon and search-box-->
      <div class="col-12 col-sm-6 align-self-center">
        <div class="minder-search-div main-div-shadow">
          <span class="search-icon-span"><i id="search-icon" class="fas fa-search"></i></span>
          <input id="user-input" class="form-control" placeholder="Search">
        </div>
      </div>
    </div>

    <!-- Minder list section -->
    <div class="row mt-4">
      <div id="replaceable-content" class="col-12">
        {% include 'minders-results-partial.html' %}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'js/search_minders.js' %}"></script>
{% endblock %}
