{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Create
Booking" %}{% endblock %} {% block content %}

<form
  class="signup signup-form"
  id="create_booking_form"
  method="post"
  action="{% url 'create_booking' %}"
>
  {% csrf_token %}

  <h1 hidden>Create Booking</h1>

  {{ form.non_field_errors }}

  <div class="row">
    <div class="col-12 col-md-6 form-user-details">
      <!-- Pet Owner name field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_owner_name.id_for_label }}"
          >Pet Owner Name:</label
        >
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.pet_owner_name }}
        </div>
        {% if form.pet_owner_name.errors %}
        <div class="field-error">{{ form.pet_owner_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Minder field -->
      <div class="form-field form-group">
        <label for="{{ form.minder.id_for_label }}">Minder:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.minder }}
        </div>
        {% if form.minder.errors %}
        <div class="field-error">{{ form.minder.errors }}</div>
        {% endif %}
      </div>

      <!-- Minder Name field -->
      <div class="form-field form-group">
        <label for="{{ form.minder_name.id_for_label }}">Minder Name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.minder_name }}
        </div>
        {% if form.minder_name.errors %}
        <div class="field-error">{{ form.minder_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Start date field -->
      <div class="form-field form-group">
        <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
          {{ form.start_date }}
        </div>
        {% if form.start_date.errors %}
        <div class="field-error">{{ form.start_date.errors }}</div>
        {% endif %}
      </div>

      <!-- End date field -->
      <div class="form-field form-group">
        <label for="{{ form.end_date.id_for_label }}">End Date:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
          {{ form.end_date }}
        </div>
        {% if form.end_date.errors %}
        <div class="field-error">{{ form.end_date.errors }}</div>
        {% endif %}
      </div>

      <!-- Status field -->
      <div class="form-field form-group">
        <label for="{{ form.status.id_for_label }}">Status:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-check-circle fa-fw" aria-hidden="true"></i>
          {{ form.status }}
        </div>
        {% if form.status.errors %}
        <div class="field-error">{{ form.status.errors }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6 form-user-details">
      <!-- Service description field -->
      <div class="form-field form-group">
        <label for="{{ form.service_description.id_for_label }}"
          >Service Description:</label
        >
        <br />
        <div class="input-group">
          <i class="fa fa-align-left fa-fw" aria-hidden="true"></i>
          {{ form.service_description }}
        </div>
        {% if form.service_description.errors %}
        <div class="field-error">{{ form.service_description.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Name field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_name.id_for_label }}">Pet Name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-paw fa-fw" aria-hidden="true"></i>
          {{ form.pet_name }}
        </div>
        {% if form.pet_name.errors %}
        <div class="field-error">{{ form.pet_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Species field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_species.id_for_label }}">Pet Species:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-dog fa-fw" aria-hidden="true"></i>
          {{ form.pet_species }}
        </div>
        {% if form.pet_species.errors %}
        <div class="field-error">{{ form.pet_species.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Owner field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_owner.id_for_label }}">Pet Owner:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.pet_owner }}
        </div>
        {% if form.pet_owner.errors %}
        <div class="field-error">{{ form.pet_owner.errors }}</div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="col text-center">
    <button type="submit" class="btn sign-up-btn mt-4">
      {% trans "Create Booking" %} &raquo;
    </button>
  </div>
</form>

{% endblock %}
