{% extends "base.html" %}
{% load static %} 

{% load i18n %} {% block head_title %}{% trans "Create
Booking" %}{% endblock %} {% block content %}

<form
  class="signup signup-form main-div-shadow"
  id="create_booking_form"
  method="post"
  action="{% url 'create-booking' %}"
>
  {% csrf_token %}

  <h2 class="text-center">Book a Minder</h2>

  {% if form.non_field_errors %}
  <div class="non-field-error text-center">{{ form.non_field_errors }}</div>
  {% endif %}

  <div class="row mt-4">
    <div class="col-12 col-md-6 form-user-details text-center mx-auto d-flex flex-column align-items-center justify-content-center">

        <div class="minder-photo">
          <img src="" alt="" id="minder_photo_booking" />
        </div>
        <div class="px-3">
          <p class="minder-name" id="minder-name-booking"></p>
          <p id="minder-availability-booking"></p>
        </div>

    </div>

    <div class="col-12 col-md-6 form-user-details">
      <!-- Minder field HIDDEN-->
      <div class="form-field form-group hidden-div">
        <label for="{{ form.minder.id_for_label }}">Minder:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.minder}}
        </div>
      </div>

      <!-- Minder Name field HIDDEN-->
      <div class="form-field form-group hidden-div">
        <label for="{{ form.minder_name.id_for_label }}">Minder Name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.minder_name }}
        </div>
        {% if form.minder_name.errors %}
        <div class="field-error">{{ form.minder_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Status field HIDDEN-->
      <div class="form-field form-group hidden-div">
        <label for="{{ form.status.id_for_label }}">Status:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-check-circle fa-fw" aria-hidden="true"></i>
          {{ form.status }}
        </div>
      </div>

      <!-- Pet Owner field HIDDEN -->
      <div class="form-field form-group hidden-div">
        <label for="{{ form.pet_owner.id_for_label }}">Pet Owner:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.pet_owner }}
        </div>
        {% if form.pet_owner.errors %}
        <div class="field-error">{{ form.pet_owner.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Owner name field HIDDEN -->
      <div class="form-field form-group hidden-div">
        <label for="{{ form.pet_owner_name.id_for_label }}"
          >Pet Owner Name:</label
        >
        <br />
        <div class="input-group">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          {{ form.pet_owner_name }}
        </div>
        {% if form.pet_owner_name.errors %}
        <div class="field-error">{{ form.pet_owner_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Name field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_name.id_for_label }}">Pet Name:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-paw fa-fw" aria-hidden="true"></i>
          {{ form.pet_name }}
        </div>
        {% if form.pet_name.errors %}
        <div class="field-error">{{ form.pet_name.errors }}</div>
        {% endif %}
      </div>

      <!-- Pet Species field -->
      <div class="form-field form-group">
        <label for="{{ form.pet_species.id_for_label }}">Pet Species:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-dog fa-fw" aria-hidden="true"></i>
          {{ form.pet_species }}
        </div>
        {% if form.pet_species.errors %}
        <div class="field-error">{{ form.pet_species.errors }}</div>
        {% endif %}
      </div>


      <!-- Start date field -->
      <div class="form-field form-group">
        <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
          {{ form.start_date }}
        </div>
        {% if form.start_date.errors %}
        <div class="field-error">{{ form.start_date.errors }}</div>
        {% endif %}
      </div>

      <!-- End date field -->
      <div class="form-field form-group">
        <label for="{{ form.end_date.id_for_label }}">End Date:</label>
        <br />
        <div class="input-group">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
          {{ form.end_date }}
        </div>
        {% if form.end_date.errors %}
        <div class="field-error">{{ form.end_date.errors }}</div>
        {% endif %}
      </div>

      <!-- Service description field -->
      <div class="form-field form-group">
        <label for="{{ form.service_description.id_for_label }}"
          >Service Description:</label
        >
        <br />
        <div class="input-group">
          <i class="fa fa-align-left fa-fw" aria-hidden="true"></i>
          {{ form.service_description }}
        </div>
        {% if form.service_description.errors %}
        <div class="field-error">{{ form.service_description.errors }}</div>
        {% endif %}
      </div>

    </div>
  </div>

  {% if form.status.errors %}
  <div class="field-error">{{ form.status.errors }}</div>
  {% endif %}

  {% if form.minder.errors %}
  <div class="field-error">{{ form.minder.errors }}</div>
  {% endif %}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="create-booking-btns-div">
    <button type="submit" class="custom-btn-1">
      {% trans "Create Booking" %} &raquo;
    </button>
    <button type="button" class="custom-btn-2 reselect-minder-btn">
      &laquo; {% trans "Change Minder" %}
    </button>
  </div>
  <script src="{% static 'js/fill_minder_fields.js' %}"></script>
</form>
{% endblock %}
