{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row mx-2">
    <div class="col-12 col-md-6 sign-up-div">
      <h2>Are you a Pet Owner?</h2>
      <p class="mt-1">Sign-up now and receive the following benefits:</p>
      <ul class="list-group d-flex justify-content-center">
        <li class="list-group-item">
          <i class="fa fa-check"></i> Search through dozen of qualified Pet Minders.
        </li>
        <li class="list-group-item">
          <i class="fa fa-check"></i> Share your pet needs with the Minders.
        </li>
        <li class="list-group-item">
          <i class="fa fa-check"></i> Manage your bookings through the platform.
        </li>
      </ul>
      <a href="{% url 'pet-owner-signup' %}" class="custom-btn-1 mt-2">I am a Pet Owner.</a>
    </div>

    <div class="col-12 col-md-6 sign-up-div">
      <h2>Are you a Minder?</h2>
      <p class="mt-1">Sign-up now and receive the following benefits:</p>
      <ul class="list-group d-flex justify-content-center">
        <li class="list-group-item">
          <i class="fa fa-check"></i> Offer your Pet Minding Services.
        </li>
        <li class="list-group-item">
          <i class="fa fa-check"></i> Be found by Pet Owners in your region.
        </li>
        <li class="list-group-item">
          <i class="fa fa-check"></i> Manage your bookings through the platform.
        </li>
      </ul>
      <a href="{% url 'minder-signup' %}" class="custom-btn-1 mt-2">I am a Minder.</a>
    </div>
  </div>

</div>
{% endblock %}
