{% extends "base.html" %}
{% load static %}{% load i18n %}

{% block head_title %}{% trans "My Profile" %}{% endblock %}

{% block content %}
<form class="signup signup-form main-div-shadow" method="post" enctype="multipart/form-data">
  {% csrf_token %}


  <h2 class="text-center">My Profile</h2>

  {% if form.non_field_errors %}
  <div class="non-field-error text-center">{{ form.non_field_errors }}</div>
  {% endif %}
  <div class="row">
    <div class="col-12 col-md-6 form-user-details">
      <!-- Name field -->
      <div class="form-field form-group">
        <label for="{{ form.name.id_for_label }}">Your name:</label>
        <br>
        <div class="input-group">
          <i class="fa fa-signature fa-fw" aria-hidden="true"></i>
          {{ form.name }}
        </div>
        {% if form.name.errors %}
        <div class="field-error">{{ form.name.errors }}</div>
        {% endif %}
      </div>
  
      <!-- Email field -->
      <div class="form-field form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        <br>
        <div class="input-group">
          <i class="fa fa-at fa-fw" aria-hidden="true"></i>
          {{ form.email }}
        </div>
        {% if form.email.errors %}
        <div class="field-error">{{ form.email.errors }}</div>
        {% endif %}
      </div>

      <!-- Bio field -->
      <div class="form-field form-group">
        <label for="{{ form.bio.id_for_label }}">Bio:</label>
        <br>
        <div class="input-group">
          <i class="fa fa-id-card fa-fw" aria-hidden="true"></i>
          {{ form.bio }}
        </div>
        {% if form.bio.errors %}
        <div class="field-error">{{ form.bio.errors }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6 form-user-details">
      <!-- Usual availability field -->
      <div class="form-field form-group">
        <label for="{{ form.usual_availability.id_for_label }}">Usual Availability:</label>
        <br>
        <div class="input-group">
          <i class="fa fa-calendar-check fa-fw" aria-hidden="true"></i>
          {{ form.usual_availability }}
        </div>
        {% if form.usual_availability.errors %}
        <div class="field-error">{{ form.usual_availability.errors }}</div>
        {% endif %}
      </div>

      <!-- Photo field -->
      <div class="form-field form-group">
        <label for="{{ form.photo.id_for_label }}">Photo:</label>
        <br>
        <div class="input-group photo-input">
          <i class="fa fa-id-badge fa-fw" aria-hidden="true"></i>
          {{ form.photo }}
        </div>
        {% if form.photo.errors %}
        <div class="field-error">{{ form.photo.errors }}</div>
        {% endif %}
      </div>

      <!-- Photo display -->
      <div class="form-field form-group">
        <div class="minder-photo text-center">
          {% if "placeholder" in user.minder.photo.url %}
            <img src="{% static 'img/profile-placeholder.webp' %}" alt="{{ user.name }}"/>
          {% else %}
            <img src="{{ user.minder.photo.url }}" alt="{{ user.name }}">
          {% endif %}
        </div>
      </div> 
  
      <!-- Role field -->
      <input type="hidden" name="role" value="minder">
    </div>
  </div>

  <div class="col text-center mt-4 d-flex justify-content-evenly my-profile-btns-div">
    <button type="submit" class="custom-btn-1">
      {% trans "Save Profile" %}
    </button>    
    <a href="{% url 'account_change_password' %}" class="custom-btn-1">
      {% trans "Change Password" %}
    </a>
  </div>
</form>
{% endblock %}
